<script lang="ts" setup>
import { ref } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

interface orders {
  id: number;
  name: string;
  price: number;
}

const sum = ref(0);
const orderList = ref<orders[]>([]);
const addClick = (item: orders) => {
  orderList.value.push(item);
  sum.value = sum.value + item.price;
};
</script>
<template>
  <v-row>
    <v-col cols="6" class="ma-4">
      <v-card height="85vh" style="overflow-y: auto">
        <v-row>
          <v-col cols="3" v-for="item in products" :key="item.id" class="ma-4">
            <v-card width="200px">
              <v-card-item class="text-center">
                <div>
                  <div class="text-h6 mb-1">{{ item.name }}</div>
                  <div class="text-h7 mb-1">{{ item.price }}</div>
                </div>
              </v-card-item>

              <v-card-actions class="justify-center">
                <v-btn variant="outlined" @click="addClick(item)"> add </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-card>
    </v-col>
    <v-col>
      <v-table height="80vh">
        <thead>
          <tr>
            <th class="font-weight-bold">id</th>
            <th class="font-weight-bold">name</th>
            <th class="font-weight-bold">price</th>
          </tr>
        </thead>
        <tbody v-if="orderList.length > 0">
          <tr v-for="(item, index) of orderList" :key="index">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
          </tr>
        </tbody>
        <tbody class="text-center" v-if="orderList.length === 0">
          <td colspan="3" class="text-h6 font-weight-bold">No Data</td>
        </tbody>
      </v-table>
      <h1>sum :{{ sum }}</h1>
    </v-col>
  </v-row>
</template>
