<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const countStore = useCounterStore();
</script>
<template>
  <div>First Component</div>
  <div>{{ countStore.count }}</div>
</template>
